<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; height: fit-content;">
    <div style="background-color: white;padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); max-width: 600px; text-align: center; margin: 10px auto 10px auto; height: fit-content;">
        <header>
            <img src="https://res.cloudinary.com/diy6oyo6l/image/upload/v1733592844/image_hdhb1e.png" alt="Logo" style="width: 80px; margin-bottom: 20px;">
            <h2>Heartistry</h2>
        </header>
        <main>
            <h1 style="color: #4a90e2; margin-bottom: 20px;">Prove Your Signer Identity</h1>
            <p style="color: #333; line-height: 1.6; margin-bottom: 20px;">Hello <b>{{ username }}</b>,</p>
            <p style="color: #333; line-height: 1.6; margin-bottom: 20px;">You are required to enter the following code to confirm your account sent by Heartistry. Please enter the code in <strong>5 minutes</strong>.</p>
            <p style="color: #333; line-height: 1.6; margin-bottom: 20px;">Your verification code:</p>
            <div style="font-size: 32px; font-weight: bold; color: #333; margin-bottom: 20px;">{{ otp }}</div>
        </main>
        <footer>
            <p style="font-size: 14px; color: #888; margin: 10px 0;">If this wasn't you, please ignore this email or contact our customer service center: <a href="mailto:heartistry.service@gmail.com" style="color: #4a90e2; text-decoration: underline; margin: 0 5px;">heartistry.service@gmail.com</a> for further assistance.</p>
        </footer>
    </div>
</body>
</html>